body, h1, h2, h3, p, ul, ol, li, form, blockquote { margin: 0; padding: 0; }
body { font-family: Arial, Helvetica, sans-serif; color: #000; }

#header { width: 960px; margin: 0 auto; }
#container { width: 960px; margin: 0 auto; }

#navigation { width: 260px; float: right; }
#content { width: 700px; float: left; }

#add-bar ul { list-style-type: none; }
#add-bar li { display: inline; padding: 0 10px 0 0; }

h1 { font-weight: normal; font-size: 36px; padding: 0 0 0 0; }
h2 { font-weight: normal; font-size: 24px; padding: 0 0 0 0; } 
h3 { font-weight: normal; line-height: 20px; font-size: 20px; padding: 0 0 0 0; } 
p { font-size: 14px; line-height: 20px; padding: 0 0 0 0; } 
ul { padding: 20px 0 0 0; list-style: none;}
li { font-size: 14px; line-height: 20px; margin-top: 5px; }
li p { padding: 0 0 0 0; }

ul.item-list { padding: 10px 0 0 0; }

.item-container { margin-top: 20px; }
.item-container .chk {  float: left; }

.content { overflow: auto; }

.content .controls { width: 60px; display: block; float: left; }
.content p, .content h1, .content h2 { margin-left: 70px; }
.controls a { display: block; width: 16px; height: 16px; font-size: 11px; }
.content .controls a { float: right;} 

#page-navigation li { overflow: auto; }
.page-drop { width: 200px; float: left; }
#page-navigation .controls { width: 20px; float: left; }

.listitem-container .content p { margin-left: 90px; }

.list-controls { padding: 10px 0 0 70px; }

.chk { margin-left: 10px; }

.controls a.edit-link { width: 25px; vertical-align: baseline; text-align: center; }
.drag-link { text-indent: -1000em; outline: none; overflow: hidden; background: url(/img/drag-handle.gif) center center no-repeat; }
.delete-link { text-indent: -1000em; outline: none; overflow: hidden; background: url(/img/trash.gif) center center no-repeat; }

.drophover { background-color: #ff0000;}