<!DOCTYPE html>
<html>
    <head>
        <title>GTDPad</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" type="text/css" media="all" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
        <link rel="stylesheet" type="text/css" media="all" href="{{ url_for('static', filename='css/main.css') }}" />
    </head>
    <body>
        <div class="container">
            <!-- Static navbar -->
            <div class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">GTDPad</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tools <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#" onclick="alert('Not Implemented Yet!'); return false;">Link Tools</a></li>
                                <li><a href="/manage-tags">Manage Tags</a></li>
                                <li class="divider"></li>
                                <li><a href="#" onclick="alert('Not Implemented Yet!'); return false;">Settings</a></li>
                                <li><a href="/logout">Log Out</a></li>
                            </ul>
                        </li>
                    </ul>
                    <form class="navbar-form navbar-right" id="header-search" role="form" action="/">
                        <div class="form-group">
                            <input type="text" placeholder="Enter tags..." id="q" name="q" class="form-control" value="">
                        </div>
                        <button type="submit" class="btn btn-primary">Search</button>
                    </form>
                </div><!--/.nav-collapse -->
            </div>
            {% block body %}{% endblock %}
        </div> <!-- /container -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/handlebars-v1.3.0.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.history.js') }}"></script>
        {% block script %}{% endblock %}
        {% raw %}
        <script id="pages-menu-template" type="text/x-handlebars-template">
            <div class="controls">
                <a href="#" class="add-link page">New Page</a> 
            </div>
            <div class="content">
                <ul>
                    {{#each payload}}
                    <li><a data-pageid="{{id}}" href="/{{id}}">{{title}}</a></li>
                    {{/each}}
                </ul>
            </div>
        </script>
        <script id="page-template" type="text/x-handlebars-template">
            <div id="item-{{id}}">
                <div class="controls">
                    <a href="#" class="edit-link">Edit</a> 
                    <a href="#" class="delete-link">Delete</a>
                </div>
                <div class="content">
                    <h1>{{title}}</h1>
                    {{#each items}}
                        {{> item}}
                    {{/each}}
                </div>
            </div>
        </script>
        <script id="page-form-template" type="text/x-handlebars-template">
            <form class="form-inline edit-form page" id="edit-page-{{id}}" role="form" action="">
                <div class="form-group">
                    <label class="sr-only" for="title">Title</label>
                    <input class="form-control" type="text" id="title" name="title" value="{{title}}" placeholder="Page Title" /> 
                    <input type="hidden" id="displayorder" name="displayorder" value="{{displayorder}}" /> 
                </div>
                <input class="btn btn-primary" type="submit" value="Save" />
            </form>
        </script>
        <script id="item-template" type="text/x-handlebars-template">
            <div id="item-{{id}}">
                <div class="controls">
                    <a href="#" class="edit-link">Edit</a> 
                    <a href="#" class="delete-link">Delete</a>
                </div>
                <div class="content">
                    <h2>{{title}}</h2>
                    {{#if body}}
                    <p>{{body}}</p>
                    {{/if}}
                    {{#islist}}
                        <ul>
                        {{#each listitems}}
                            {{> listitem}}
                        {{/each}}
                        </ul>
                    {{/islist}}
                </div>
            </div>
        </script>
        <script id="listitem-template" type="text/x-handlebars-template">
            <li id="listitem-{{id}}">
                <div class="controls">
                    <a href="#" class="edit-link">Edit</a> 
                    <a href="#" class="delete-link">Delete</a>
                </div>
                <div class="content">
                    {{body}}
                </div>
            </li>
        </script>
        {% endraw %}
    </body>
</html>