<!DOCTYPE html>
<html>
    <head>
        <title>GTDPad</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" type="text/css" media="all" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
        <link rel="stylesheet" type="text/css" media="all" href="{{ url_for('static', filename='css/main.css') }}" />
    </head>
    <body>
        <div class="container">
            <!-- Static navbar -->
            <div class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">GTDPad</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tools <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#" onclick="alert('Not Implemented Yet!'); return false;">Link Tools</a></li>
                                <li><a href="/manage-tags">Manage Tags</a></li>
                                <li class="divider"></li>
                                <li><a href="#" onclick="alert('Not Implemented Yet!'); return false;">Settings</a></li>
                                <li><a href="/logout">Log Out</a></li>
                            </ul>
                        </li>
                    </ul>
                    <form class="navbar-form navbar-right" id="header-search" role="form" action="/">
                        <div class="form-group">
                            <input type="text" placeholder="Enter tags..." id="q" name="q" class="form-control" value="">
                        </div>
                        <button type="submit" class="btn btn-primary">Search</button>
                    </form>
                </div><!--/.nav-collapse -->
            </div>
            {% block body %}{% endblock %}
        </div> <!-- /container -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/handlebars-v2.0.0.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.history.js') }}"></script>
        {% block script %}{% endblock %}
        {% raw %}
        <script id="pages-menu-template" type="text/x-handlebars-template">
            <div class="controls">
                <a href="#" class="add page">New Page</a> 
            </div>
            <div class="content">
                <ul>
                    {{#each payload}}
                    <li><a data-pageid="{{id}}" href="/{{id}}">{{title}}</a> <a href="#" class="drag">Drag</a></li>
                    {{/each}}
                </ul>
            </div>
        </script>
        <script id="page-template" type="text/x-handlebars-template">
            <div id="page-{{id}}">
                <div class="controls page">
                    <a href="#" class="edit" data-pageid="{{id}}">Edit</a><!-- 
                 --><a href="#" class="addnote" data-pageid="{{id}}">Add Note</a><!--
                 --><a href="#" class="addlist" data-pageid="{{id}}">Add List</a><!--
                 --><a href="#" class="delete" data-pageid="{{id}}">Delete</a>
                </div>
                <div class="content">
                    <h1>{{title}}</h1>
                    <div class="items">
                        {{#each items}}
                            {{> item}}
                        {{/each}}
                    </div>
                </div>
            </div>
        </script>
        <script id="page-form-template" type="text/x-handlebars-template">
            <form class="form-inline form-page" role="form" action="" data-pageid="{{id}}">
                <div class="form-group">
                    <label class="sr-only" for="title">Title</label>
                    <input class="form-control" type="text" id="title" name="title" value="{{title}}" placeholder="Page Title" /> 
                    <input type="hidden" id="displayorder" name="displayorder" value="{{displayorder}}" /> 
                </div>
                <input class="btn btn-primary" type="submit" value="Save" />
            </form>
        </script>
        <script id="item-template" type="text/x-handlebars-template">
            <div id="item-{{id}}">
                <div class="controls item">
                    <a href="#" class="edit" data-pageid="{{page_id}}" data-itemid="{{id}}">Edit</a><!--
                 --><a href="#" class="delete" data-pageid="{{page_id}}" data-itemid="{{id}}">Delete</a><!--
                 --><a href="#" class="drag" data-pageid="{{page_id}}" data-itemid="{{id}}">Drag</a>
                </div>
                <div class="content">
                    <h2>{{title}}</h2>
                    {{#if body}}
                    <p>{{body}}</p>
                    {{/if}}
                    {{#islist}}
                        <ul>
                        {{#each listitems}}
                            {{> listitem}}
                        {{/each}}
                        </ul>
                        <div class="controls listitem">
                            <a href="#" class="addlistitem" data-pageid="{{page_id}}" data-itemid="{{id}}">Add List Item</a>
                        </div>
                    {{/islist}}
                </div>
            </div>
        </script>
        <script id="item-form-template" type="text/x-handlebars-template">
            <form class="form-item" role="form" action="" data-itemid="{{id}}" data-pageid="{{page_id}}">
                <div class="form-group">
                    <label for="title">Title</label>
                    <input class="form-control" type="text" id="title" name="title" value="{{title}}" placeholder="Item Title" /> 
                </div>
                <div class="form-group">
                    <label for="body">Body</label>
                    <textarea class="form-control" id="body" name="body" placeholder="Item Body">{{body}}</textarea> 
                    <input type="hidden" id="displayorder" name="displayorder" value="{{displayorder}}" />
                    <input type="hidden" id="itemtype_id" name="itemtype_id" value="{{itemtype_id}}" /> 
                    <input type="hidden" id="page_id" name="page_id" value="{{page_id}}" /> 
                </div>
                <input class="btn btn-primary" type="submit" value="Save" />
            </form>
        </script>
        <script id="listitem-template" type="text/x-handlebars-template">
            <li id="listitem-{{id}}">
                <div class="controls listitem">
                    <a href="#" class="edit" data-listitemid="{{id}}" data-pageid="{{page_id}}" data-itemid="{{item_id}}">Edit</a><!--
                 --><a href="#" class="delete" data-listitemid="{{id}}" data-pageid="{{page_id}}" data-itemid="{{item_id}}">Delete</a><!--
                 --><a href="#" class="drag" data-listitemid="{{id}}" data-pageid="{{page_id}}" data-itemid="{{item_id}}">Drag</a>
                </div>
                <div class="content">
                    {{#if completed}}
                    <input type="checkbox" class="listitem-complete" name="completed" value="true" checked="checked"  data-listitemid="{{id}}" data-pageid="{{page_id}}" data-itemid="{{item_id}}" />
                    {{else}}
                    <input type="checkbox" class="listitem-complete" name="completed" value="true" data-listitemid="{{id}}" data-pageid="{{page_id}}" data-itemid="{{item_id}}" />
                    {{/if}}
                    {{body}}
                </div>
            </li>
        </script>
        <script id="listitem-form-template" type="text/x-handlebars-template">
            <form class="form-listitem" role="form" action="" data-listitemid="{{id}}" data-itemid="{{item_id}}" data-pageid="{{page_id}}">
                <div class="form-group">
                    <label for="body" class="sr-only">Body</label>
                    <textarea class="form-control" id="body" name="body" placeholder="Item Body">{{body}}</textarea> 
                    <input type="hidden" id="displayorder" name="displayorder" value="{{displayorder}}" />
                    <input type="hidden" id="item_id" name="item_id" value="{{item_id}}" /> 
                </div>
                <input class="btn btn-primary" type="submit" value="Save" />
                <a href="#" class="btn cancel">Cancel</a>
            </form>
        </script>
        {% endraw %}
    </body>
</html>